*.vsidx
Library/PackageCache

.vs/Twinsanity-Unity-Title-Screen (1)/CopilotIndices/17.14.1700.50054/CodeChunks.db
.vs/Twinsanity-Unity-Title-Screen (1)/CopilotIndices/17.14.1700.50054/SemanticSymbols.db
.github/copilot-instructions.md
ProjectSettings.zip
/Library
